/* redefine the style  */

body {
	overflow: hidden; /*文档主体不会出现scroll*/
	/*overflow-x:      x方向滚动条*/
	background-repeat:no-repeat;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
 /* -webkit-user-drag: none;*/
 /* user-drag: none;*/
  -webkit-touch-callout: none;
  font-family:Serif;
  font-size: 1em;
}
/*font*/
.font-Serif{
	font-family:Serif;
}
.title{
	font-family:Serif;
	font-size: 2em;
	color:white;
}


iframe {
	border-width: 0px;
}
hr {
  border-style: solid;
  box-sizing:content-box;
}
button> * {
	vertical-align: middle;
}
select , input {
	overflow: hidden;
	/*appearance: none !important;*/
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	box-sizing: content-box;
	margin: 0;
}

}
input[type=number] {
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}
input:invalid {
	box-shadow: none;
	-moz-box-shadow: none;
}
select[size="1"] {
	background: url(dropdown.png) 99% no-repeat white;
	padding: 0px 20px 0px 5px;
}
select[size="3"] option, select[size="2"]  option{
	padding-left:  6px;
	padding-right: 6px;
	min-height: 13.3px;
}
select::-ms-expand {
	display: none;
}
select.scroll_list {
	overflow-y: auto;
	.scroll_list::-webkit-scrollbar  {
		width: 40px;
	}
}
option{
	padding: 0px 6px 0px 6px;
	background-color: #f3f4f4;
	font-size: inherit;
	color: #333;
}
option:not(:first-child) {
	border-top: 0.5px solid #e3e4e4;
}
option:hover{
	color: #f3f4f4 !important;
	box-shadow: 0 0 10px 100px darkgray inset;
}
option:checked{
	box-shadow: 0 0 10px 100px gray inset;
}
select option:nth-child(odd)  {
  background-color: white;
}
.title{
	border: 0 0 1px 0 solid #c8c8c8;
}

.USR-select:disabled  {
	background: url(lock.png) no-repeat white;
	background-position:bottom right;
}

:disabled, .USR-select:disabled  {
	background-color: #E3E4E4 !important;
	color: #999 !important;
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.25 !important;
	box-shadow: none;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -0.06em;
}

/* define the led */
.USR-led  {
  border: 0.33px solid #666;
  border-radius: 50% !important;
  box-shadow: 0 0 1.5px black inset !important;
  outline-width: 0 !important;
}
.USR-round  {
  border: 0.33px solid #666;
  border-radius: 20px !important;
  box-shadow: 0 0 1.5px black inset !important;
  outline-width: 0 !important;
}
.USR-bt  {
/*background-color: grey;*/
  border: 2px 2px 2px 2px solid #666!important;
  border-color:white!important;
  border-radius: 6px !important;
  font-size: 20px!important;
  font-weight:Bold!important;
  height: 30px!important;
}


.clickable{
	opacity: 0.7;
	cursor: pointer;
}

img.USR-led{
	opacity: 0.7;
	cursor: pointer;
	background-color: buttonface;
}
.USR-btn .fa, .USR-select .fa{
	opacity: 0.8;
}
.USR-btn .svg, .USR-select .svg{
	opacity: 0.7;
}
.USR-btn, .USR-select,img.USR-btn {
	opacity: 1;
	text-align: center;
	white-space: normal;
	max-width: 100%;
	vertical-align: middle;
	letter-spacing: 0.01em;
	cursor: pointer;
	padding:0px 0px 0px 0px;
}
.USR-btn-float{
	float:left;
	width:160px;
	height:160px;
}

.flat{
	border-style:none;
	border-width:0px 0px 0px 0px;
}
.flat-round  {
  	border-style:none;
	border-width:0px 0px 0px 0px;
    border-radius: 5px !important;
}
.flat-round-lg  {
  	border-style:none;
	border-width:0px 0px 0px 0px;
    border-radius: 10px !important;
}
.USR-select{
	cursor: pointer;
	line-height: 2em;
}

.USR-btn:active, .USR-select:active , .clickable:active, .svg:active, img.clickable:active{
	opacity: 1;
	outline: none;
	box-shadow: none;
	filter: brightness(0.66) contrast(1.5);
}

.USR-btn:focus, .USR-select:focus, .clickable:focus{
  outline: 0 solid lightgray;
  box-shadow: none;
}

.notAllowed {
  pointer-events: none;
  overflow: hidden;
}
.USR-select .svg{
	padding: 8px 0px 8px 0px;
	display: block;
}
.USR-select .fa{
	padding: 12px 0px 12px 0px;
	display: block;
}

.back_image {
	opacity: 0.3;
	background-color: transparent ;
	z-index:-10;
}
img.back_image {
	opacity: 0.4;
	background-color: transparent ;
}
/*Shadows*/
.shadowed-top {
  position: relative;
  min-height: 10px;
  box-shadow: 0px 8px 8px -8px #383c3e inset !important;
  border-top: 1px;
}

.shadowed {
	box-shadow: 0px 0px 10px #383c3e !important;
}

.back-frame {
	z-index: 10; 
}
.main-frame {
	z-index: 11; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0F00FF;
}


input[type=range] {
	height: 24px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
	box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
	background-color: gray;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}


