/* redefine the style  */

body {
	overflow-x: hidden;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

button, input, textArea {
	padding-right: 0px;
	padding-left: 0px;
	box-sizing: border-box;
}
button> * {
	vertical-align: middle;
}
select , input{
	overflow-y: auto;
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	margin: 0;
	border: 1px solid grey;
}
input[type=number] {
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}
input:invalid {
	box-shadow: none;
	-moz-box-shadow: none;
}
select[size="1"] {
	background: url(../interface/images/dropdown.png) 99% no-repeat white;
	padding: 0px 20px 0px 5px;
}
select[size="3"] option, select[size="2"]  option{
	padding-left:  10px;
	padding-right: 10px;
}
select::-ms-expand {
	display: none;
}
option{
	padding: 1px 5px 1px 5px;
	background-color: #f3f4f4;
	font-size: inherit;
	color: #666;
	min-height: 10px;
	max-height: 25px;
}
option:not(:first-child) {
	border-top: 1px solid darkgray;
}
option:hover{
	color: #f3f4f4 !important;
	box-shadow: 0 0 10px 100px darkgray inset;
}
option:checked{
	box-shadow: 0 0 10px 100px gray inset;
}
select option:nth-child(odd)  {
  background-color: white;
}

select.scroll_list {
	overflow-y: auto;
}

:disabled {
	background-color: #E3E4E4 !important;
	color: #999 !important;
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.25 !important;
	box-shadow: none;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -0.06em;
}

/* define the led */
.USR-led  {
  border: 0.33px solid #666;
  border-radius: 50% !important;
  box-shadow: 0 0 1.5px black inset !important;
  outline-width: 0 !important;
  box-sizing: border-box;
}
.USR-round  {
  border: 0.33px solid #666;
  border-radius: 15px !important;
  box-shadow: 0 0 1.5px black inset !important;
  outline-width: 0 !important;
  box-sizing: border-box;
}

.clickable, .svg{
	opacity: 0.9;
	cursor: pointer;
}

img.USR-led{
	opacity: 0.8;
	cursor: pointer;
	background-color: buttonface;
}
.USR-select .fa, .USR-btn .fa{
	opacity: 1;
}
.USR-btn, .USR-select {
	opacity: 0.9;
	text-align: center;
	white-space: normal;
	max-width: 100%;
	vertical-align: middle;
	letter-spacing: 0.01em;
	border: 0.33px solid transparent;
	border-radius: 0px;
}

.USR-select{
	cursor: pointer;
	color: #333 !important;
	border-bottom: 1px solid #333 !important;
	border-right:  1px solid #333 !important;
	background-color: white;
	line-height: normal;
}

.USR-btn:active, .USR-select:active , .clickable:active, .svg:active, img.clickable:active{
	opacity: 1;
	outline: 0;
	box-shadow: none;
  filter: brightness(0.66) contrast(2); 
}

.USR-btn:focus, .USR-select:focus, .clickable:focus{
  outline: 0 solid lightgray;
  box-shadow: none;
}

.notAllowed {
  pointer-events: none;
  overflow: hidden;
}

.border-solid {
	border-style: solid;
	box-sizing: content-box;
}
.svg{
	padding: 8px 0px 8px 0px;
	display: block;
}
.back_image {
	opacity: 0.75;
	background-color: transparent ;
}

